* {
padding: 0px;
margin: 0px;
}

h1{
    color: white;
    text-align: center;
    text-shadow: 0px 3px 15px grey;
    text-decoration: underline;
    margin-bottom: 50px;
}
ol{
    text-align: center ;
    margin-bottom: 50px;
    text-shadow: 0 0 5px black
    
}
ol li{
    margin-bottom: 15px;
}
ol li a{
    text-decoration: none;
    color: royalblue;
    transition: .2s;
    
}
ol li a:hover{ 
    color:aqua;
    font-weight: bold;    
}
body{
    background-color: #11141b;
}

img{
    width: 200px;
    height: 300px;
    box-shadow: 0 0 35px #839bd6;
}

.spisok{
    position: relative;
    
    
}

.punkt{
    display: flex;
    
}


.sprava{
    text-align: center;
    display: inline-block;
    width: 1300px;
    margin: 50px 0 0 110px;
    font-size: 20px;
    padding-bottom: 10px;
    height: 260px;
    overflow: auto;
    color: #a8c1ff;
}


.sleva{
    text-align: center;
    display: inline-block;
    width: 1300px;
    margin: 50px 40px 0 70px;
    font-size: 20px;
    padding-bottom: 10px;
    height: 260px;
    overflow: auto;
    color: #a8c1ff;
}


ul li{
    padding-left: 100px;
}

.right{
    order: 2;
    padding-left: 70px;
}


.verx{
    text-align: center;
    
    display: block;
    
    text-decoration: none;
    color: aqua;
    text-transform: uppercase;
}
hr{
    color: white;
    box-shadow: 0 0 15px white;
    margin-bottom: 20px;
}























